on:
  release:
    types: [ published ]

permissions:
  id-token: write
  contents: read

jobs:
  publish-to-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
      - run: npm ci
      - run: npm publish
