on:
  pull_request:
    types: [ closed ]
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  publish-to-npm:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
      - run: git config user.name "github-actions[bot]"
      - run: git config user.email "github-actions[bot]@users.noreply.github.com"
      - run: npm install -g npm@latest
      - run: npm version patch
      - run: npm ci
      - run: npm publish
      - run: git push --tags
