on:
  pull_request:
    types: [ closed ]
    branches:
      - main

jobs:
  push-tag:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
      - run: npm version patch
      - run: git push --tags
